body{
    background: linear-gradient(90deg, #00d0ff, #d1a1ff);
    background-size: 400% 400%;
    animation: anim 10s infinite ease-in-out;
}
@keyframes anim {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
main{
    margin-top: 20px;
}
.pedido{
    background: #F7F7F7;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    height: 1000px;
    size: 100px;
}
.pedido p{
    margin-top: 50px;
    padding-top: 20px;
    border-top: solid 1px rgb(149, 149, 149);
}
.card-footer{
    background: white;
}